body {
    background-image: url("../images/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
	margin: auto;
	width: 100%;
	text-align: center;
	font-family: "Arial","Helvetica";
	font-size: 60px;
}

p{
	margin: auto;
	width: 100%;
	text-align: center;
	font-family: "Arial","Helvetica";
}

#randomNumber{
	margin: auto;
	width: 100%;
	background-color:#cceae5;
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
	font-family: "Arial","Helvetica";
}

#yourTotalScore{
	margin: auto;
	width: 100%;
	text-align: center;
	background-color: #eaccd9;
	font-size: 17px;
	padding: 10px;
	font-family: "Arial","Helvetica";
}

#guessedNumber{
	margin: auto;
	width: 100%;
	text-align: center;
	background-color: #eaccd9;
	padding: 10px;
	font-size: 40px;
	font-family: "Arial","Helvetica";
}

#imgContainer{
	margin: auto;
	width: 70%;
}

img{
	float: left;
}

#scoreContainer{
	clear: both;
	margin: auto;
	width: 20%;
	font-size: 17px;
	text-align: center;
	background-color: #f7dfc8;
	padding: 30px;
	font-family: "Arial","Helvetica";
}